body{
    /* Pongo imagen de fondo */
    background-image: url("../img/rojo.jpg");

    /* Para que no se termine la imagen */
    background-attachment: fixed;
}

#logo{
    background-color: rgb(128, 41, 0);
 
}
#menu ul li:hover{
    background-color: rgb(128, 41, 0);
}

.boton{
    background: rgb(128, 41, 0);
    
}
